<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <header class="productDetail_header_container">
        <main>






        </main>
        <%- include('./partials/footer') %> 

    </body>
    
    </html>