<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <header class="productDetail_header_container">
        <div class="productDetail_header">
            <section class="productDetail_header_top">
                <div class="productDetail_header_top_burger">
                    <button><i class="fa fa-bars"></i></button>
        
                </div>
                <div class="productDetail_header_top_logo">
                    <a href="/">
                        <img src="/img/LOGO-CODEMUSIC.png" alt="Code Music">
                    </a>
                </div>
                <div class="productDetail_header_top_icon">
                    <a href="/products/productEdit" class="productDetail_header_top_add">Editar producto</a>
                    <a href="/users/login" class="productDetail_header_top_icon_login"><i class="fa-solid fa-circle-user"></i></a>
                    <a href="/products/productCart" class="productDetail_header_top_icon_cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </section>
            
            <div class="productDetail_header_search">
                <form action="/products/productDetail" method="get">
                    <input type="text" name="búsqueda" placeholder="¿Qué estás buscando?">
                    <button onclick="alert('Procesando tu petición')"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        
        <nav class="productDetail_header_navbar">
            <ul>
                <li><a href="..#guitar">Guitarras</a></li>
                <li><a href="..#battery">Baterias</a></li>
                <li><a href="..#piano">Teclados y pianos</a></li>
                <li><a href="..#microphone">Micrófonos y sonido</a></li>
                <li><a href="..#wind">Instrumentos de vientos</a></li>
            </ul>
        </nav>
        
        </header>

    <main class="main_formulario">
        
        <h4>Agrega un producto</h4>
        <form action="?_method=PUT" method="POST">
            
            <div>
                <label for="Name">Nombre del producto</label>
                <input type="Name" id="Name" placeholder="Ejempo: Guitarra Electrica">
            </div>
            <div>
                <label for="Description">Descripcion</label>
                <input type="Description" id="Description" placeholder="Guitarra electrica Les Paul Ephipone">
            </div>

            <div>
                <label for="Imagen" >Imagen de producto</label>
                <input type="file" name="imagen" id="imagen" accept=".jpg, .png" required><br><br>
            </div>

            <div>
                <p>Elige una categoria: 
                    <select name="category">
                      <option>Guitarras</option>
                      <option>Baterias</option>
                      <option>Teclados y Pianos</option>
                      <option>Microfonos y Sonido</option>
                      <option>Instrumentos de Viento</option>
                    </select>
                 </p>
            </div>

            <div class="main_formulario_checkboxs">
                <label for="Colores">Colores disponibles</label>
                <p class="checkboxs"><input type="checkbox" name="color" id="color" value="color">Negro</p>
                <p class="checkboxs"><input type="checkbox" name="color" id="color" value="color">Rojo</p>
                <p class="checkboxs"><input type="checkbox" name="color" id="color" value="color">Blanco</p>
            </div>

            <div>
                <label for="precio">Precio</label>
                <input type="price" id="Description" placeholder="Ejemplo: $50.000">
            </div>
            
            <div class="formulario_enviar">
                <button type="submit">Enviar</button>
            </div>
            
        </form>

    </main>
    <%- include('../partials/footer') %> 
</body>
</html>