<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/985c010c44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <title>Code Music</title>
</head>

<body class="index">
    <header class="index_header">
        <div class="index_header_topnavbar">
            <div class="index_header_topnavbar_div">
                <button class="index_hambur"><i class="fa fa-bars"></i></button>

                <a href="/"><img src="/img/LOGO-CODEMUSIC.png" alt="Logo" class="index_logo"></a>

                <a href="/login" class="index_header_login"><i class="fa-solid fa-circle-user"></i></a>
                <a href="/productCart" class="index_header_cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>



            <form action="/productDetail" method="get" class="index_header_form">
                <input type="text" name="búsqueda" placeholder="¿Qué estás buscando?" lass="index_header_form_input">
                <button onclick="alert('No encontramos nada')"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <nav class="index_header_navbar">
            <ul>
                <li><a href="#guitar">Guitarras</a></li>
                <li><a href="">Baterias</a></li>
                <li><a href="">Teclados y pianos</a></li>
                <li><a href="">Micrófonos y sonido</a></li>
                <li><a href="">Instrumentos de vientos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <figure class="figure_banner">
            <img src="/img/banner-codemusic.jpg" alt="Carrusel">
        </figure>

        <div class="main_container">
            <section class="index_section_products">
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
            </section>

            <section>
                <article>
                    <i class="fa-solid fa-truck"></i>
                    <h3>Envío Gratis</h3>
                    <p>Órdenes mayores a $22.999</p>
                </article>
                <article>
                    <i class="fa-solid fa-truck"></i>
                    <h3>Envío Gratis</h3>
                    <p>Órdenes mayores a $22.999</p>
                </article>
                <article>
                    <i class="fa-solid fa-truck"></i>
                    <h3>Envío Gratis</h3>
                    <p>Órdenes mayores a $22.999</p>
                </article>
                <article>
                    <i class="fa-solid fa-truck"></i>
                    <h3>Envío Gratis</h3>
                    <p>Órdenes mayores a $22.999</p>
                </article>
                <article>
                    <i class="fa-solid fa-truck"></i>
                    <h3>Envío Gratis</h3>
                    <p>Órdenes mayores a $22.999</p>
                </article>
                <article>
                    <i class="fa-solid fa-truck"></i>
                    <h3>Envío Gratis</h3>
                    <p>Órdenes mayores a $22.999</p>
                </article>


            </section>

            <section class="index_section_products" id="Guitar">
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
            </section>

            <section class="index_section_products" id="Guitar">
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
            </section>

            <section class="index_section_products" id="Guitar">
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
            </section>

            <section class="index_section_products" id="Guitar">
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
            </section>

            <section class="index_section_products" id="Guitar">
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/GuitarraElectrica.jpg" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title">Guitarra eléctrica Epiphone SG pecial de caoba ebony </h3>
                    <div class="index_product_bottom">
                    <p class="precio">$53.515 <em class="decimales">66</em></p>
                    <p class="index_product_envío"> Envío Gratis</p>
                    <a href="#" class="index_button_product">Ver más</a>
                    </div>
                </article>
            </section>
        </div>

    </main>

    <footer class="index_footer">
        <section class="index_footer_nav">
            <nav>
                <h3>CODE MUSIC</h3>
                <br>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Terminos y Condiciones</a></li>
                </ul>
            </nav>
        </section>
        
        <section class="index_footer_contac">
            <div>
                <h3>CONTACTANOS</h3>
                <br>
                <p>Av. Rivadavia 1565, CABA</p>
                <p>(011) 7875-8564</p>
                <p>info@codemusic.com.ar</p>
            </div>
            <br>
            <section class="index_footer_redes">
                <h3>REDES SOCIALES</h3>
                <div>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </section>
        </section>
    </footer>

</body>

</html>