<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/117c6921aa.js" crossorigin="anonymous">
    <title>login</title>
</head>
<body>
    <header>
        <div>
            <button><i class="fa fa-bars"></i></button>
  
            <div>
              <a href="/"><img src="/img/LOGO-CODEMUSIC.png" alt="Logo"></a>
            </div>
  
            <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          
              <form action="/productDetail" method="get">
                  <input type="text" name="búsqueda" placeholder="¿Qué estás buscando?">
                  <button  onclick="alert('No encontramos nada')"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
          </div>
          
          <nav class="home-navbar">
              <ul>
                  <li><a href="#guitar" >Guitarras</a></li>
                  <li><a href="">Baterias</a></li>
                  <li><a href="">Teclados y pianos</a></li>
                  <li><a href="">Micrófonos y sonido</a></li>
                  <li><a href="">Instrumentos de vientos</a></li>
              </ul>
          </nav>
    </header>

    <main>

    </main>

    <footer>
        <section>
            <h2>CODE MUSIC</h2>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
           </section>
    
            <section>
            <h2>CONTACTANOS</h2>
            <ul>
                <li><a href="#">Av. Rivadavia 1565, CABA</a></li>
                <li><a href="tel:1178758564"><i></i>(011) 7875-8564</a></li>
                <li><a href="info@codemusic.com.ar"><i></i>info@codemusic.com.ar</a></li>
            </ul>
            </section>
    
            <section>
            <h2>REDES SOCIALES</h2>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            </section>
    
            <section>
                <form action="">
                    <label for="">Recibí ofertas en tu email</label>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Email">
                    <button type="submit">Suscribirme</button>
                </form>
            </section>

    </footer>
    
</body>
</html>