<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/117c6921aa.js" crossorigin="anonymous">
    <title>login</title>
</head>
<body>
    <header>
        <div>
            <button><i class="fa fa-bars"></i></button>
  
            <div>
              <a href="/"><img src="/img/LOGO-CODEMUSIC.png" alt="Logo"></a>
            </div>
  
            <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
          
              <form action="/productDetail" method="get">
                  <input type="text" name="búsqueda" placeholder="¿Qué estás buscando?">
                  <button  onclick="alert('No encontramos nada')"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
          </div>
          
          <nav class="home-navbar">
              <ul>
                  <li><a href="#guitar" >Guitarras</a></li>
                  <li><a href="">Baterias</a></li>
                  <li><a href="">Teclados y pianos</a></li>
                  <li><a href="">Micrófonos y sonido</a></li>
                  <li><a href="">Instrumentos de vientos</a></li>
              </ul>
          </nav>
    </header>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>