<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/grupo_9_codeMusic/public/css/productCart.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/117c6921aa.js" crossorigin="anonymous">
    <title>carritoCompra</title>
</head>
<body>
    <header class="productCart_header">
        <div class="productCart_header_LOGOTIPO">
            <img src="/grupo_9_codeMusic/public/img/LOGO-CODEMUSIC.png" alt="Logo CODEMUSIC">
        </div>
        <div class="productDetail_header_search">
            <form action="/productDetail" method="get">
                <input type="text" name="búsqueda" placeholder="¿Qué estás buscando?">
            </form>
        </div>
    </header>
    <main>
        <h1>Carrito de Compras</h1>
        <br>
            <div>
                <section class="productCart_main_contenedor">
                    <article>
                        <ul class="productCart_main_menu">
                            <li>Productos</li>
                            <li>Cantidad</li>
                            <li>Precio</li>
                        </ul>
                    </article>  

                    <article class="productCart_detalleProducto">
                        <img class="productCart_detalleProducto_imagenbateria" src="/grupo_9_codeMusic/public/img/bateriaMapex.jpg">
                    <div>
                        <p class="productCart_detalleProducto_nombreProducto_bateria">Bateria Mapex Prodigy</p>
                        <p class="productCart_detalleProducto_botonbateria">boton boton</p>
                    </div>
                    <div class="productCart_detalleProducto_">
                        <p class="productCart_detalleProducto_precioBateria">$109.780</p>
                        <img class="productCart_detalleProducto_basura" src="/grupo_9_codeMusic/public/img/logoBasura.png">
                    </div>
                    </article>

                    <article class="productCart_detalleProducto">
                        <img class="productCart_detalleProducto_imagenguitarra" src="/grupo_9_codeMusic/public/img/GuitarraElectrica.jpg">
                    <div>
                        <p class="productCart_detalleProducto_nombreProducto_guitarra">Guitarra eléctrica Epiphone</p>
                        <p class="productCart_detalleProducto_menuguitarra">boton boton</p>
                    </div>
                    <div class="productCart_detalleProducto_">
                        <p class="productCart_detalleProducto_precioBateria">$9.375,88</p>
                        <img class="productCart_detalleProducto_basura" src="/grupo_9_codeMusic/public/img/logoBasura.png">
                    </div>
                    </article>
                </section> 
            </div>
                <div class="productCart_main_compra">
                    <div class="productCart_main_compra_container">
                        <img class="productCart_main_compra_envioGratis_logo" src="/grupo_9_codeMusic/public/img/logoCamion.png" alt="Envio gratis">
                        <p class="productCart_main_compra_envioGratis">Envío Gratis</p>
                        <img class="productCart_main_compra_logovisa" src="/grupo_9_codeMusic/public/img/logoVisa.png" alt="logo visa">
                        <img class="productCart_main_compra_logovisa" src="/grupo_9_codeMusic/public/img/logoMastercard.png" alt="logo mastercard">
                    </div>
                    <div>
                        <p class="productCart_main_compra_total">Total $119.155,88</p>
                        <button class="productCart_main_compra_boton">COMPRAR</button>  
                    </div>
    </main>
    <footer class="productCart_footer">
        <section class="productCart_footer_nav">
            <nav>
                <h3>CODE MUSIC</h3>
                <br>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Terminos y Condiciones</a></li>
                </ul>
            </nav>
        </section>
        
        <section class="productCart_footer_contac">
            <div>
                <h3>CONTACTANOS</h3>
                <br>
                <p>Av. Rivadavia 1565, CABA</p>
                <p>(011) 7875-8564</p>
                <p>info@codemusic.com.ar</p>
            </div>
            <br>
            <section class="productCart_footer_redes">
                <h3>REDES SOCIALES</h3>
                <div>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </section>
        </section>

    </footer>
</body>
</html>