<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/985c010c44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>detalleProducto</title>
</head>

<body class="productDetail">
    <header class="productDetail_header">

        <section class="productDetail_header_top">
            <div class="productDetail_header_top_burger">
            <button><i class="fa fa-bars"></i></button>
            
            </div>
            <div class="productDetail_header_top_logo">
                <a href="/"><img src="/img/LOGO-CODEMUSIC.png" alt=""></a>
            </div>
            <div class="productDetail_header_top_icon">
                <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
                <a class="productDetail_header_top_icon_cart" href="/productCart"><i
                        class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </section>

        <nav class="productDetail_header_navbar">
            <ul>
                <li><a href="#guitar">Guitarras</a></li>
                <li><a href="">Baterias</a></li>
                <li><a href="">Teclados y pianos</a></li>
                <li><a href="">Micrófonos y sonido</a></li>
                <li><a href="">Instrumentos de vientos</a></li>
            </ul>
        </nav>

        <div class="productDetail_header_search">
            <form action="/productDetail" method="get">
                <input type="text" name="búsqueda" placeholder=" ¿Qué estás buscando?">
                <button onclick="alert('No encontramos nada')"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

    </header>

    <main class="productDetail_main">

        <section class="productDetail_main_section_top">

            <aside class="productDetail_main_section_top_izq">
                <article class="productDetail_main_section_top_izq_marca"><img src="/img/images.png" alt="logo"></article>
                <article class="productDetail_main_section_top_izq_fto1"><img src="/img/BateriaMapex.jpg" alt="foto1"></article>
                <article class="productDetail_main_section_top_izq_fto2"><img src="/img/BATERIA-MAPEX.jpg" alt="foto2"></article>
            </aside>

            <article class="productDetail_main_section_top_centr">
                <img src="/img/D_NQ_NP_934215-MLA44256175223_122020-V.jpg" alt="centro">
            </article>

            <aside class="productDetail_main_section_top_derech">
                <div class="productDetail_main_section_top_derech_title">
                    <h2> Bateria Completa Mapex</h2>
                    <h5> Prodigy 3 Cuerpos C/Soportes y
                        Platillos ALEYMAR</h5>
                </div>

                <div>
                    <p class="productDetail_main_section_top_derech_price">$173,338</p>
                    <p class="productDetail_main_section_top_derech_cuotas">en <span>12 x $14.444.91 sin interes</span>
                    </p>

                </div>

                <div class="productDetail_main_section_top_derech_tarjetas">
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                </div>

                <div class="productDetail_main_section_top_derech_colores">
                    <h5>Color azul</h5>
                    <article><img src="/img/BateriaMapex.jpg" alt="art1"></article>
                    <article class="productDetail_main_section_top_derech_colores_art2"><img src="/img/BATERIA-MAPEX.jpg" alt="art2">
                    </article>
                </div>

                <div class="productDetail_main_section_top_derech_stock">
                    <h4>Stock disponible</h4>
                    <div>
                        <h5>cantidad:</h5>
                        <h5>1 unidad</h5>
                        <h6>(disponible 3)</h6>
                    </div>
                </div>

                <div class="productDetail_main_section_top_derech_button">
                    <button type="button">Comprar</button>
                    <button type="button">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </aside>

        </section>

        <section class="productDetail_main_section_bottom">
            <div>
                <h5>Características:</h5>

                <p>-Tom 12x9"</p>
                <p>-Tom 13x10"</p>
                <p>-Tom de piso ("chancha") 16x16"</p>
                <p>-Redoblante 14x5,5"</p>
                <p>-Bombo 22x16"</p>
                <p>-Todos los herrajes son cromados</p>
            </div>
            <div>
                <p>-Incluye todos los fierros.</p>
                <p>-Color: Bordó, Negro y Azul</p>
                <p>-Incluye Parches Remo®</p>
                <p>-Incluye platillos Crash 16" y</p>
                <p>Hi-Hat 14"</p>
            </div>
            <div>
                <h5>Descripción</h5>

                <h5>MAPEX® PRODIGY</h5>
                <p>Excelente batería MAPEX PRODIGY  <p> 
                <p>
                    con acabado recubierto,
                    los tambores están equipados con Prodigy,
                    el nuevo modelo que utiliza un solo punto 
                    de contacto. Incluye TODO lo que precisas
                     para tocar
                </p>

                <h6>*** BANQUETA, FIERROS Y PLATOS MAPEX INCLUÍDOS ***</h6>

            </div>
        </section>

    </main>

    <footer class="productDetail_footer">
        <section class="productDetail_footer_nav">
            <nav>
                <h3>CODE MUSIC</h3>
                <br>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Terminos y Condiciones</a></li>
                </ul>
            </nav>
        </section>

        <section class="productDetail_footer_contac">
            <div>
                <h3>CONTACTANOS</h3>
                <br>
                <p>Av. Rivadavia 1565, CABA</p>
                <p>(011) 7875-8564</p>
                <p>info@codemusic.com.ar</p>
            </div>
            <br>
            <section class="productDetail_footer_redes">
                <h3>REDES SOCIALES</h3>
                <div>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </section>
        </section>

        <section class="producDetail_footer_suscrip">
            <h3>Recibi ofertas en tu mail</h3>
            <input type="text" name="nombre">
            <input type="text" name="mail">
            <button type="submit">Suscribirme</button>
        </section>

    </footer>

</body>

</html>