<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/117c6921aa.js" crossorigin="anonymous">
    <title>carritoCompra</title>
</head>
<body>
    <header>
        <div class="logo-container" >
            <img src="/grupo_9_codeMusic/public/img/LOGO-CODEMUSIC.png" alt="logo CODEMUSIC">
        </div>

        <div>
            <img src="" rel="logo-usuario">
        </div>

        <div>
            <img src="" rel="logo-carrito">
        </div>

        <form action="Busqueda" method="post">
                <input type="search" name="¿Qué estas buscando?" placeholder="¿Qué estas buscando?">
                <input type="submit" value="Buscar">
          </form>
    </header>
    <main>
        <h1>Carrito de Compras</h1>
    </main>

    <footer>

    </footer>
    
</body>
</html>