<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/productCart.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/117c6921aa.js" crossorigin="anonymous">
    <title>carritoCompra</title>
</head>
<body>
    <header class="contenedor-header">
        <div>
            <img alt="LOGO-CODEMUSIC" />
        </div>

        <form class="contenedor-barraBusqueda" action="Busqueda" method="post">
            <input type="text" placeholder="Buscar" required>
        </form>

        <div>
            <img src="" rel="logo-usuario">
        </div>

        <div>
            <img src="" rel="logo-carrito">
        </div>
    </header>
    <main>
        <h1>Carrito de Compras</h1>
            <section>
                <article>
                    <ul class="contenedor-menu">
                        <li>Productos</li>
                        <li>Cantidad</li>
                        <li>Subtotal</li>
                        <li>Total</li>
                    </ul>
                    <div>
                        <ul class="detalle">
                            <img style="width:70px;" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRgmamrPrgkzAbejglInmZqUtmuPljUU0qip9GT4oMe76N5maeWacDDxeF1dUQ2qbEIEZ_ZiwQVu_7IfYl82j60QEEmTsas">
                            <li>Bateria Mapex</li>
                            <li>Boton</li>
                            <li>$54.890</li>
                            <li>$109.780</li>
                        </ul>
                    </div>
                    <div>
                        <ul class="detalle">
                            <img style="width:70px;" src="https://http2.mlstatic.com/D_NQ_NP_854391-MLA46336619342_062021-O.webp">
                            <li>Bateria Mapex</li>
                            <li>Boton</li>
                            <li>$54.890</li>
                            <li>$109.780</li>
                        </ul>
                    </div>
                </article>
            </section>
    </main>
    <footer class="contenedor-footer">
        <section>
            <div>
                <p>CODE MUSIC</p>
                <li>Inicio</li>
                <li>Sobre Nosotros</li>
                <li>Preguntas Frecuentes</li>
                <li>Terminos y Condiciones</li>
            </div>
        </section>
        <section>
            <div>
                <p>CONTACTANOS</p>
                <p>Av. Rivadavia 1565, CABA
                    (011) 7875-8564
                    <br>
                info@codemusic.com.ar
            </p>
            </div>
        </section>
        <section>
            <div>
                <p>REDES SOCIALES</p>
            </div>
        </section>
        <section>
            <div>
                <p>RECIBÍ NOTICIAS EN TU EMAIL</p>
            </div>
        </section>
    </footer>
</body>
</html>