/* footer */

.productDetail_footer {
    background-color: var(--ColorNegro);
    color: var(--ColorGris);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 30px 0px;
    border-radius: 100px 0px 0px 0px;
    gap: 13px;
}

/* footer nav */

.productDetail_footer_nav {
    margin-top: 10px;
}

/* footer contac */

.productDetail_footer_contac {
    margin-top: 10px;
}

/* footer redes */

.productDetail_footer_redes {
    margin-top: 10px;
}

.productDetail_footer_redes i {
    font-size: 25px;
    padding: 2px;
    margin: 3px;
    border-radius: none;
}

/* footer suscrip */

.productCart_footer_suscrip {
    display: none;
}


@media (min-width: 768px) {

    /* footer*/

    .productDetail_footer {
        justify-content: space-around;
        flex-direction: row;
        text-align: inherit;
    }

    /* footer nav */

    .productDetail_footer_nav {
        margin-top: 10px;
    }

    /* footer contac */

    .productDetail_footer_contac {
        display: flex;
        margin-top: 10px;
        gap: 20px;
    }

    /* footer redes */
    
    .productDetail_footer_redes i {
        font-size: 25px;
        padding: 2px;
        margin: 3px;
    }
}

@media (min-width: 1024px) {

    /* footer suscrip */
    
    .productCart_footer_suscrip {
        margin-top: 10px;
        display: flex;
    }

    .productCart_footer_suscrip form {
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        font-style: italic;
        font-size: 14px;
    }
    
    .productCart_footer_suscrip input {
        background-color: var(--ColorNegro);
        font-size: 10px;
        font-weight:100;
        padding: 3px 2px;
        border: none;
        border-bottom: 1px solid white;
    }

    .productCart_footer_suscrip ::placeholder {
        color: salmon;
    }


    .productCart_footer_suscrip form button {
        padding: 5px 0px;
        margin-bottom: 2px;
        border: none; 
        width: 100px;
        margin-top: 10px;
    }
}