:root{
    --ColorNegro: #000000;
    --ColorAzulOscuro: #202040;
    --ColorGris: #F2F5F9;
    --ColorBlanco: #FFFFFF;
    --ColorAzul: #0000ff;
    --ColorVerde: #46A656;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat';
    background-color: var(--ColorGris);
    margin: 0;
    overflow-x: hidden;
}
li{
    list-style: none;
}

ul, ol{
    padding-left: 0;
 }

a{
    text-decoration: none;
    color: var(--ColorBlanco);
}

a:hover{
    color: var(--ColorBlanco);
}

p{
    font-size: 15px;
}