/* HEADER */

.productDetail, .productCart {
    background-color: var(--ColorGris);
    color: var(--ColorGris);
}

.index_header,
.productCart_header, .productDetail_header {
    background-color: var(--ColorNegro);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* header top */

.productCart_header_top, .productDetail_header_top {
    display: flex;
    text-align: center;
    align-items: center;
    width: auto;
    margin: auto;
    position: relative;
    justify-content: space-between;
}

.productCart_header_top_burger button, .productDetail_header_top_burger button {
    background-color: var(--ColorNegro);
    color: var(--ColorBlanco);
    font-size: 18px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.productCart_header_top_logo, .productDetail_header_top_logo {
    width: 70%;
}

.productCart_header_top_logo img,
.productDetail_header_top_logo img {
    width: 40%;
}

.productCart_header_top_icon, .productDetail_header_top_icon {
    font-size: 25px;

}

.productCart_header_top_icon_cart, .productDetail_header_top_icon_cart {
    display: none;
}

/* header nav */

.productCart_header_navbar li, .productDetail_header_navbar li {
    display: none;
    list-style: none;
    list-style-type: none;
    margin: 3px;
    text-decoration: none;

}

/* header search */

.productCart_header_search, .productDetail_header_search {
    margin: auto;
    position: relative;
}

.productCart_header_search form input,
.productDetail_header_search form input {
    height: 26px;
    width: auto;
    border-radius: 10px;

}

.productCart_header_search form button,
.productDetail_header_search form button {
    position: absolute;
    outline: none;
    right: 6px;
    top: 3px;
    border: none;

}

.productCart_header_search form button i,
.productDetail_header_search form button i {
    border: none;
    background-color: transparent;
}


@media (min-width: 768px) {
    /* header */

    .productCart_header,
    .productDetail_header {
        display: flex;
        flex-wrap: wrap;
        margin: 2px;
    }

    /* header top */

    .productCart_header_top,
    .productDetail_header_top {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .productCart_header_top_burger button, .productDetail_header_top_burger button {
        font-size: 28px;
        width: 38px;
        height: 38px;
    }

    .productCart_header_top_logo, .productDetail_header_top_logo {
        width: 60%;
        position: relative;
    }

    .productCart_header_top_logo img,
    .productDetail_header_top_logo img {
        margin: auto;
        width: 40%;
        position: relative;
        left: 20px;
        padding-bottom: 5px;
    }

    .productCart_header_top_icon, .productDetail_header_top_icon {
        display: flex;
        gap: 0 18px;
        font-size: 30px;

    }

    .productCart_header_top_icon_cart, .productDetail_header_top_icon_cart {
        display: inline-block;

    }

    /* header search */

    .productCart_header_search, .productDetail_header_search {
        position: relative;
    }

    .productCart_header_search form input,
    .productDetail_header_search form input {
        height: 36px;
        width: 200%;
        position: relative;
        right: 85px;
    }

    .productCart_header_search form button,
    .productDetail_header_search form button {
        position: absolute;
        outline: none;
        font-size: 18px;
        right: -75px;
        top: 5px;
        background-color: transparent;
    }

    .productCart_header_search form button i,
    .productDetail_header_search form button i {
        border: none;
        background-color: transparent;
    }
}

@media (min-width: 1024px) {

    /* header */

    .productCart_header,
    .productDetail_header {
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
    }

    /* header top */

    .productCart_header_top,
    .productDetail_header_top {
        width: 100%;
        align-items: center;
        position: relative;
    }

    .productCart_header_top_burger button,
    .productDetail_header_top_burger button {
        display: none;
    }

    .productCart_header_top_logo, .productDetail_header_top_burger button {
        display: none;
    }

    .productDetail_header_top_logo, .productCart_header_top_logo {
        width: 58%;
        position: relative;
        right: 330px;
    }

    .productCart_header_top_logo img,
    .productDetail_header_top_logo img {
        margin: auto;
        width: 40%;
        position: relative;
    }

    .productCart_header_top_icon, .productDetail_header_top_icon {
        display: flex;
        position: relative;
        bottom: 5px;
        gap: 18px;
        font-size: 30px;
    }

    .productCart_header_top_icon_cart, .productDetail_header_top_icon_cart {
        display: inline-block;

    }

    /* header search */

    .productCart_header_search, .productDetail_header_search {
        bottom: 130px;
        left: 30px;
    }

    /* header nav */

    .productCart_header_navbar, .productDetail_header_navbar {
        position: relative;
        background-color: var(--ColorAzul);
        margin: 0;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }

    .productCart_header_navbar ul, .productDetail_header_navbar ul {
        display: flex;
        margin: auto;
        gap: 0 65px;
    }

    .productCart_header_navbar l, .productDetail_header_navbar li {
        display: flex;
        margin: auto;
        list-style: none;
        list-style-type: none;
        text-decoration: none;
    }
}