/* HEADER */
.index, .productDetail {
    background-color: var(--ColorGris);
    color: var(--ColorGris);
}

.productDetail_header_sign {
    background-color: rgba(167, 167, 167, 0.7);
    color: #551A8B;
    font-weight:100;
    font-size: 15px;
}

.productDetail_header_sign span {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    font-weight:700;
    white-space: nowrap;
    border-right: 4px solid;
    width: 37ch;
    animation: typing 5s steps(37) infinite, blink 5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% { border-color: transparent}
}

.productDetail_header_container {
    margin-bottom: 15px;
}

.productDetail_header {
    background-color: var(--ColorNegro);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* header top */

.productDetail_header_top {
    display: flex;
    align-items: center;
    /* position: relative; */
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.productDetail_header_top_burger button {
    background-color: var(--ColorNegro);
    color: var(--ColorBlanco);
    font-size: 18px;
    width: 28px;
    height: 28px;
    border: none;
}

.productDetail_header_top_logo {
    width: 40%;
    max-width: 220px;
    margin:auto;
}

.productDetail_header_top_logo img {
    width: 100%;
}

.productDetail_header_top_icon {
    position:relative;
    display: flex;
    align-items: center;
}

.productDetail_header_top_add {
    position: absolute;
    right: 35px;
    font-size: 13px;
}

.productDetail_header_top_icon_login {
    font-size: 25px;
}

.productDetail_header_top_icon_cart {
    display: none;
}

/* header nav */

.productDetail_header_navbar li {
    display: none;
    list-style: none;
    list-style-type: none;
    margin: 3px;
    text-decoration: none;

}

/* header search */

.productDetail_header_search {
    margin: auto;
    position: relative;
}

.productDetail_header_search form {
    width: 100%;
}

.productDetail_header_search form input {
    height: 26px;
    min-width: 175px;
    border-radius: 10px;
    padding: 2px;
    font-family: none;
}

.productDetail_header_search form button {
    position: absolute;
    outline: none;
    right: 6px;
    top: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.productDetail_header_search form button i {
    border: none;
    
}

.index_header_search_form button i {
    border: none;
    /* background-color: transparent; */
}


@media (min-width: 768px) {
    /* header */

    .productDetail_header {
        display: flex;
        flex-wrap: wrap;
    }

    /* header top */

    .productDetail_header_top {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .productDetail_header_top_burger button {
        font-size: 28px;
        width: 38px;
        height: 38px;
    }

    .productDetail_header_top_logo {
        width: 60%;
        position: relative;
        left: 22px;
        padding-bottom: 5px;
    }

    .productDetail_header_top_logo img {
        margin: auto;
    }


    .productDetail_header_top_icon {
        display: flex;
        gap: 0 18px;
        font-size: 30px;
    }

    .productDetail_header_top_li {
        font-size: 14px;
    }

    .productDetail_header_top_icon_cart {
        display: inline-block;
        font-size: 25;
    }

    /* header search */

    .productDetail_header_search {
        position: relative;
    }

    .productDetail_header_search form input {
        height: 36px;
        width: 200%;
        position: relative;
        right: 90px;
        padding-left: 5px;
        font-size: revert;
    }

    .productDetail_header_search form button {
        position: absolute;
        outline: none;
        font-size: 18px;
        right: -75px;
        top: 8px;
        background-color: transparent;
    }

    .productDetail_header_search form button i {
        border: none;
        background-color: transparent;
    }
}

@media (min-width: 1024px) {

    /* header */

    .productDetail_header {
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin: 0;
    }

    /* header top */

    .productDetail_header_top {
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0;
    }

    .productDetail_header_top_burger button {
        display: none;
    }

    .productDetail_header_top_logo {
        order: -3;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        left: 0;
    }
    
    .productDetail_header_top_logo img {
        width: 100%;
        margin: 0;
        padding: 0;
        position: 0;
    }

    .productDetail_header_top_icon {
        display: flex;
        position: relative;
       /*  bottom: 5px; */
        gap: 18px;
        font-size: 30px;
    }

    .productDetail_header_top_icon-ul {
        margin-bottom: 0;
    }

    .productDetail_header_top_icon_cart {
        display: flex;
        font-size: 25px;
    }

    /* header search */

    .productDetail_header_search {
        bottom: 43px;
        left: 30px;
    }

    /* header nav */

    .productDetail_header_navbar {
        position: relative;
        background-color: #38184C;
        margin: 0;
        padding: 12px;
        width: 100%;
        height: 55px
    }

    .productDetail_header_navbar ul {
        display: flex;
        gap: 0 55px;
        text-align: center;
        margin-bottom: 0
    }

    .productDetail_header_navbar li {
        display: flex;
        margin: auto;
        list-style: none;
        list-style-type: none;
        text-decoration: none;
        border-radius: 10px;
        padding: 6px;
        transition: 0.4s;
    }

    .productDetail_header_navbar li:hover{
        background-color: black;
        color: white;
    }
    
}