/* HEADER */
.index {
    color: #F2F5F9;
}
.index_header {
    background-color: #000000;
    padding: 20px;
    margin-bottom: 20px;
}

.index_header_topnavbar_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.index_hambur {
    background-color: #000000;
    border: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.index_hambur:hover {
    box-shadow: #c8e73bdc;
}

.index_hambur i {
    font-size: 25px;
}

.index_logo {
    width: 105px;
    height: 2.2em;
    padding: 0;
}

.index_header_login {
    font-size: 25px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.index_header_login:hover {
    box-shadow: hsl(71, 78%, 57%);
}

.index_header_cart {
    display: none;
}

.index_header_form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    
}

.index_header_form_input {
    /* position: relative; */
}

.index_header_form button {
   /*  border: none;
    background-color: transparent;*/
    padding: 2px; 
  /*   position: absolute;
    right: 74px;  */
    align-self: center;
}

.index_header_form i {
    /* color: salmon; */
}

.index_header_navbar {
    display: none;
}

/* MAIN */
.index {
    background-color: #F2F5F9;
}

.figure-banner {
    width: 100%;
    margin: 0 auto 20px;
}

.figure-banner img {
    width: 100%; 
    margin: 0;
}

.main_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.main_container section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_container section article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    justify-self: center;
}

.main_container section article img {
    width: 40%;
    margin: auto; 
    padding: 5px;
}

.main_container section article div {
    color: #000000;
    text-align: center;
    line-height: 10px;
    margin-bottom: 10px;
}

h3 {
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.decimales  {
    font-size: 6px;
}
.button-product {
    font-size: 13px;
    padding: 10px;
    background-color: #202040;
    border-radius: 10px;
}

/* FOOTER */

.index_header {
    background-color: #000000;
}

.index_header h2 {
    color: #ffffff;
}