.editAdd {
    background-image: linear-gradient(135deg, #F2F5F9, #9a75ca, #3f54a8, #2e2c8bd7, #631da5, #691faf, #551A8B);
    background-size: 500%;
}
.main_formulario {
    display: flex;
    flex-direction: column;
}

.main_formulario form {
    border: var(--ColorNegro) 1px solid;
    border-radius: 20px;
    width: 50%;
    color: var(--ColorNegro);
    background-color: var(--ColorGris);
    max-width: 420px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 30px;
    font-family: 'calibri';
    box-shadow: 0px 0px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.main_formulario div {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin-bottom: 20px;
}

.main_formulario_checkboxs{
    display: flex;
}

.main_formulario input {
    width: 100%;
    background: var(--ColorBlanco);
    color: var(--ColorBlanco);
    color: var(--ColorNegro);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #551A8B;
    font-family: 'calibri';
    font-size: 18px;
}

.main_formulario select {
    width: 100%;
    background: var(--ColorBlanco);
    color: var(--ColorNegro);
    border: 1px solid #551A8B;
}

.main_formulario textarea {
    border: 1px solid #551A8B;
    background-color: var(--ColorBlanco);
}

.main_formulario button {
    display: inline-block;
    width: 60%;
    background-color: #551A8B;
    color: white;
    align-self: center;
    margin-left: 30px;
    margin-right: 20px;
    padding: 8px;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.3s;
}

.main_formulario button:hover {
    background-color: #541a8bbb;
    color: var(--ColorNegro);
    border: 1px solid var(--ColorNegro);
}

@media (min-width: 1024px) {

    .main_formulario form{
    max-width: 600px;
    }
}