.main_formulario {
    display: flex;
    flex-direction: column;
}

.main_formulario div {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.main_formulario_checkboxs{
    display: flex;
}

.main_formulario input {
    width: 90%;
    height: 20px;
    margin-top: 7px;
    border-radius: 20px;
    background-color: #D9D9D9;
    padding-left: 10px;
    margin-left: 10px;
}


.main_formulario button {
    display: inline-block;
    width: 60%;
    align-self: center;
    margin-left: 30px;
    margin-right: 20px;
    padding: 8px;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.5s;
}

.main_formulario button:hover {
    background-color: #202040;
    color: white;
    border: 2px solid #202040;
}
