.main_formulario {
    display: flex;
    flex-direction: column;
}

.main_formulario div {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.main_formulario input {
    padding: 5px 10px;
    margin-left: 5px;
}


.main_formulario button {
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 5px;
    transition: 1.2s;
}

.main_formulario button:hover {
    background-color: #202040;
    color: white;
    border: 2px solid #202040;
}

