.productCart_main {
   margin: auto;
   width: 95vw;
}

h1.productCart_main-h1 {
   text-align: center;
   padding: 10px;
   margin: 0px;
   margin-top: 10px;
}

.productCart_section_contenedor {
   display: flex;
   flex-direction: column;
   padding: 3vw;
   gap: 10px;
}

/* Main productos */
.productCart_main_menu {
   list-style: none;
   display: grid;
   grid-template-columns: auto auto auto auto;
   align-content: space-evenly;
   font-size: 15px;
   gap: 2px;
   margin-bottom: 15px;
   justify-content: space-around;
   padding-bottom: 10px;
   border-bottom: 0.3px solid rgba(128, 128, 128, 0.562);
}

.productCart_detalleProducto {
   display: grid;
   grid-template-columns: auto auto auto auto;
   align-content: space-evenly;
   align-items: center;
   margin-bottom: 30px;
   gap: 2px;
   padding-bottom: 10px;
   border-bottom: 0.3px solid rgba(128, 128, 128, 0.562);
   justify-content: space-around;
}

.productCart_detalleProducto div {
   display: flex;
}

.item1 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Main productos bateria */
.productCart_detalleProducto_nombreProducto_bateria {
   font-size: 13px;
   margin-bottom: 10px;
}

.productCart_detalleProducto_imagenbateria {
   width: 5em;
   margin: 0;
}

.productCart_detalleProducto_botonbateria {
   display: flex;
   justify-content: space-evenly;
   margin-right: 100px;
   margin-top: 30px;
}

.productCart_detalleProducto_basura_img{
   width: 25px;
   margin: 0;
}

.boton {
   background-color: white;
   border: 1px solid black;
   font-size: 20px;
   padding: 0px 20px;
}


.productCart_detalleProducto_ {
   display: flex;
   justify-content: space-evenly;
}

.productCart_detalleProducto_precioBateria {
   font-style: bold;
}

/* Main productos guitarra */

.productCart_detalleProducto_imagenguitarra {
   width: 160px;
   height: 120px;
}


.productCart_detalleProducto_menuguitarra {
   display: flex;
   justify-content: space-evenly;
   margin-right: 110px;
   font-style: bold;
}


.productCart_detalleProducto_nombreProducto_guitarra {
   margin-top: 30px;
   font-size: 13px;
   margin-right: 20px;
   margin-bottom: 30px;
}


.productCart_detalleProducto_ i {
   margin-top: 35px;
   color: #202040;
}

/* Seccion Compra */

.productCart_main_compra {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-right: 20px;
   margin-top: 30px;
}


.productCart_main_compra_envioGratis_logo {
   width: 70px;
   height: 60px;
}

.productCart_main_compra_envioGratis {
   padding: 10px;
   margin-top: 10px;
}

.productCart_main_compra_logovisa {
   width: 50px;
   height: 50px;
   margin-bottom: 0px;
}

.productCart_main_compra_container {
   display: flex;
}

.productCart_main_compra_boton {
 background-color: white;
 color: black;
 border: 2px solid black;
 padding: 10px 30px;
 margin-bottom: 20px;
 transition: all 700ms;
}

.productCart_main_compra_boton:hover {
   background-color: black;
   color: white;
   border: 2px solid black;
}

.productCart_main_compra_total {
   display: flex;
   font-weight: bold;
   margin-bottom: 20px;
   font-size: 20px;
}

@media (min-width: 768px){

   .productCart_detalleProducto_imagenbateria {
      width: 8em;
   }

}


@media (min-width: 1024){


}