
.profile_main{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
    background-image: linear-gradient(135deg,#541a8bad, #9a75ca, #3f54a8, #2e2c8bd7, #631da5, #691faf, #551A8B);}
.profile_main_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;  
}
.profile_img {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.profile_main_divAvatar {
    margin-bottom: 20px;
}

.profile_main_divAvatar_label {
    color: blue;
    font-size: 12px;
}

.profile_main_form{
    display: flex;
    flex-wrap: wrap;
    color: var(--ColorNegro);
    margin: 0 auto 80px;
    gap: 20px 0;
    flex-direction: column;
    background-color: white;
}
.profile_main_form_div1, .profile_main_form_div2, .profile_main_form_div3, .profile_main_form_div4{
    display: flex;
    flex-wrap: wrap;
    color: var(--ColorNegro);
    gap: 20px ;
    flex-direction: column;
    margin: 2px 5px;
}
.profile_main_form_div1 div, .profile_main_form_div4 div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.profile_controls {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding: 2px;
}

.profile_controls_textarea {
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding: 2px;
    resize:vertical;
}

.profile_main_form_div4 div select{
    height: 30px;
    border-radius: 5px;
}
.profile_main_form_button {
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}
.profile_main_form_button a {
    color: black;
}

@media (min-width: 768px) {
    .profile_main_form_div1 div input, .profile_main_form_div4 div input{
        width: 233px;
    }
}
@media (min-width: 1024px) {
    .profile_main_form_div1 div input, .profile_main_form_div4 div input{
        width: 333px;
    }
}