
.register_inicio h1 {
    color: #301B3F;
    margin-top: 10px;
    text-align: center;
}
.register_inicio-cuenta p {
    color: var(--ColorNegro);
    font-size: 13px;
    text-align: center;

}
.register_txt p {
    color: var(--ColorNegro);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.register_form {
    color: var(--ColorNegro);
    margin-bottom: 50px;
    min-width: 300px;
    max-width: 600px;
    margin:0 auto;
}
.register_div {
    margin-bottom: 25px;
    padding-left: 10px;
    
}
.register_div button {
    display: inline-block;
    width: 80%;
    margin-left: 30px;
    margin-right: 20px;
    background-color: #202040;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
}
.register_label {
    width: 90%;
    margin-top: 30px;
    padding: 10px;
    

}
.register_input {
    height: 25px;
    margin-top: 7px;
    border-radius: 20px;
    background-color: #D9D9D9;
    padding-left: 10px;
}

.register_p_a {
    text-align: center;
    
    
}
.register_p_a p {
    font-size: 13px;
    
}
.register_p_a p a {
    color: #611696;
    
}

.register_errors {
    color: red;
}

@media (min-width: 1024px) {
    
    
    
    .register_div {
        display: flex;
        flex-direction: column;
      
        
    
        
    }  

    .register_label {
      
        margin-top: 0px;
  
       
    }

    .register_input {
       
        height: 35px;  
        padding-left: 7px ;

    }

    .register_div button {
        height: 35px;
        width: 50%;
        margin-left: 25%;
        
    }

    .register_inicio-cuenta p {
       padding-top: 20px;
      
        
        
    }
        
    
       
        
    
    

    
}