 .register_main, .login_main {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    margin: 0 auto;
    flex-direction: column;
} 
.register_inicio h1, .login_inicio h1 {
    color: #301B3F;
    margin-top: 10px;
    text-align: center;
}
.register_inicio-cuenta p, .login_inicio-cuenta p {
    color: var(--ColorNegro);
    font-size: 13px;
    text-align: center;

}
.register_txt p, .login_olvidaste-contra p {
    color: var(--ColorNegro);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.register_form, .login_form {
    display: flex;
    flex-wrap: wrap;
    color: var(--ColorNegro);
    margin:0 auto;
    gap: 20px 0;
}

.register_div, .login_div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.register_label, .login_label {
    margin: auto;
    margin-bottom: 10px;
}
.register_label a{
    color: black;
    margin: auto;
}

.register_input, .login_input {
    width: 300PX;
    height: 30px;
    border-radius: 20px;
    background-color: #D9D9D9;
    margin: auto;
}

.register_div button, .login_div button {
    width: 160px;
    height: 35px;
    margin-left: 30px;
    margin-right: 20px;
    background-color: #551A8B;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.register_div button:hover, .login_div button:hover {
    background-color: var(--ColorNegro);
    cursor: pointer;
}

.register_p_a, .login_p_a {
    text-align: center;    
}

.register_p_a p, .login_p_a p {
    font-size: 13px;    
}

.register_p_a p a, .login_p_a p a {
    color: #611696;    
}

.register_errors, .login_errors {
    color: red;
}


@media (min-width: 768px) {
    .register_form, .login_form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .register_input, .login_input {
        width: 500px;
    }
}


@media (min-width: 1024px) {
    .register_input, .login_input {
        width: 600px;
    }
}