@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');
@import './general.css';
@import './header.css';
@import './footer.css';
@import './index.css';
@import './productDetail.css';
@import './productCart.css';
@import './login.css';
@import './register.css';
<<<<<<< HEAD
@import './productAdd.css';
=======
@import './productEdit.css';
@import './productAdd.css';
@import './profile.css';
>>>>>>> develop
