*{
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 22px;
    padding-left: 10px;
}
.encabezado{
    overflow: hidden;
    background-color: #E6E7E8;
    height: 50vh;
}
#logo{
    width: 100%;
    text-align: center;   
}
#logo a img{
    width: 50%;
    
}
#opciones{
    text-align: center;
}
ul li{
    list-style-type: none;
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: #33383C;
    padding: 10px;
}
a:hover{
    color: black;
    text-decoration: underline;
    
}

button:hover{
    background-color: #E51B3E;
    color: white;
    padding: 0px 10px;
    border-radius: 10px;
}

.banner{
    background-image: url('../img/reloj5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.titulo{
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 80px;
}

#productos{
    background-color: #C1BCB8;
    text-align: center;
    padding: 10px;
    font-size: 2.2rem;
}



article img{
    width: 100%;
    opacity: 1;
}

article img:hover{
    opacity: 0.8;
}
p{
    text-align: justify;
}
.productos{
    overflow: hidden;
}


article{
    width: 100%;
    padding: 10px;
    position: relative;
}

p{
    border-top: double 3px tomato;
}
.pie{
    width: 100%;
    background-color: #E6E7E8;
    color: #33383C;
    text-align: center;
}
.footer-izquierdo{
    width: 100%;
}
.footer-derecho{
    width: 100%;
}



/*Media Queries*/
@media  (min-width: 768px){
    .encabezado{
        height: 15vh;
        position: fixed;
        z-index: 1;
    }
    #logo{
        float: left;
        width: 20%;
        padding-left: 10px;
        padding-top: 15px;
    }
    #logo a img{
        width: 100%;
    }
    #opciones{
        padding-top: 30px;
        float: right;
        
        text-align: right;
    }
    ul li{
        float: left;
        list-style-type: none;
        font-size: 1.2rem;
    }
    
    .banner{
        /*Parallax*/
        background-image: url('../img/reloj5.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        width: 100%;
        height: 85vh;
    }
    .titulo{
        font-size: 4rem;
        color: white;
        text-align: center;
        padding-top: 200px;
    }
    
    #productos{
        background-color: #C1BCB8;
        text-align: center;
        padding: 10px;
    }
   
    .productos{
        overflow: hidden;
    }
    article{
        float: left;
        width: 50%;
        padding: 10px;
        position: relative;
    }
    .pie{
        display: flex;
        width: 100%;
    }
    .footer-izquierdo{
        width: 30%;
        padding: 10px;
    }
    .footer-derecho{
        width: 70%;
        
    }

}

@media (min-width: 992px){
    article{
        width: 25%;
    }
    .banner{
        /*Parallax*/
        background-size: cover;
    }    
    #logo{
        padding-top: 0;
    }
    #logo a img{
        width: 70%;
    }

}

