<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/not-found.css" />
    <title>Not Found</title>
  </head>
  <body class="notFound">
    <div class="notFound-div">
      <h1 class="notFound_title">UPS!! Error 404</h1>
      <p class="notFound-p">
        Asegurese de de colocar bien la URL o pruebe con estos Links
      </p>
      <ul class="notFound-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/products/productCart">Carrito de compras</a></li>
      </ul>
    </div>
  </body>
</html>
