<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/LOGO-FAVICON.png" />
    <link rel="stylesheet" href="/css/not-found.css" />
    <title>Error</title>
  </head>
  <body class="notFound">
    <div class="notFound-div">
      <div class="notFound-img">
        <img src="/img/productDetail/ae247d90490eba3177430645e31ca143-removebg-preview.png" alt="">
      </div>
      <div>
      <h1 class="notFound_title">UPS!! Error 404</h1>
      <p class="notFound-p">
        Asegúrese de de colocar bien la URL o pruebe con estos Links.
      </p>
      <ul class="notFound-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/users/login">Login</a></li>
      </ul>
    </div>
    </div>
  </body>
</html>
