<footer class="productDetail_footer">
    <section class="productDetail_footer_nav">
        <nav>
            <h3>CODE MUSIC</h3>
            <br>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Terminos y Condiciones</a></li>
            </ul>
        </nav>
    </section>

    <section class="productDetail_footer_contac">
        <div>
            <h3>CONTACTANOS</h3>
            <br>
            <p>Av. Rivadavia 1565, CABA</p>
            <p>(011) 7875-8564</p>
            <p>info@codemusic.com.ar</p>
        </div>
        <br>
    </section>
    <section class="productDetail_footer_redes">
        <h3>REDES SOCIALES</h3>
        <div>
            <a href="#" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </section>

    <section class="productCart_footer_suscrip">
        <form action="" method="GET">
            <label for="suscription">Recibí ofertas en tu mail😎</label>
            <input type="text" name="nombre" id="suscription" placeholder="Nombre" required>
            <input type="email" name="email" id="suscription" placeholder="Email" required>
            <button type="submit">Suscribirme</button>
        </form>
    </section>

</footer>