<header class="productDetail_header_container">
    <div class="productDetail_header_sign">
        <span>🔥 Envíos gratis a todo el país 🔥</span>
    </div>
<div class="productDetail_header">
    <section class="productDetail_header_top">
        <div class="productDetail_header_top_burger">
            <button><i class="fa fa-bars"></i></button>

        </div>
        <div class="productDetail_header_top_logo">
            <a href="/">
                <img src="/img/LOGO-CODEMUSIC.png" alt="Code Music" title="Code Music">
            </a>
        </div>
        <div class="productDetail_header_top_icon">
            <% if (locals.userLogin) { %>
                <ul>
                    <% if (userLogin.rol === 1) { %>
                        <a href="/products/productAdd" class="productDetail_header_top_li">Vender</a>
                    <% } %>
                <a href="/users/profile" class="productDetail_header_top_li">Mi perfil</a>
                <a href="/users/logout" class="productDetail_header_top_li">Salir</a>
                </ul>
            <% }else{ %>
            <a href="/users/login" class="productDetail_header_top_icon_login"><i class="fa-solid fa-circle-user"></i></a>
            <a href="/products/productCart" class="productDetail_header_top_icon_cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <% } %>
        </div>
    </section>
    
    <div class="productDetail_header_search">
        <form action="/search" method="get">
            <input type="text" name="keywords" placeholder="¿Qué estás buscando?">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>

<nav class="productDetail_header_navbar">
    <ul>
        <li><a href="/products">Todos los productos</a></li>
        <li><a href="..#guitar">Guitarras</a></li>
        <li><a href="..#battery">Baterias</a></li>
        <li><a href="..#piano">Teclados</a></li>
        <li><a href="..#microphone">Micrófonos y sonido</a></li>
        <li><a href="..#wind">Instrumentos de vientos</a></li>
    </ul>
</nav>

</header>