<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 

<body class="login">
    <%- include('../partials/header') %>


    <main class="login_main">
      <section class="login_inicio">
        <div class="login_inicio-cuenta"><p> Inicio > Mi cuenta > Login</p></div>
       <div class="login_inica-s"><h1>Iniciá sesión</h1></div>
        
        <form class="login_form" action="/users/login" method="post">
            
            <div class="login_div">
                <label class="login_label" for="Email">Email</label>
                <input class="login_input" type="email" name="email" id="Email" placeholder="Ej: tunombre@email.com ">
            </div>
            
            <div class="login_div">
                <label class="login_label" for="password">Contraseña</label>
                <input class="login_input" type="password" name="password" id="password" placeholder="Escribe tu contraseña">
            </div>
            <div class="login_olvidaste-contra">
                <p> ¿Olvidaste tu contraseña? </p>
              </div>
            
            <div class="login_div">
                <button type="submit"><a href="/">Iniciar Session</a></button>
            </div>
            <div class="login_p_a">
                <p> ¿No tenés cuenta aún? <a href="/users/register">Registrate</a></p>
              </div>
            
        </form>

      </section>
    </main>
    
    <!-- copie y pegue el footer y se soluciono -->
    <%- include('../partials/footer') %> 


    
</body>
</html>