<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="profile">
        <%- include('../partials/header') %>


            <main class="profile_main">
                <section class="profile_main_section">
                    <h3>Mi perfil </h3>
                    <hr>
                    <img src="/img/users/default-users-image.jpg" alt="usuario">

                    <form class="profile_main_form" action="/users/profile?_method=PUT" method="post" enctype="multipart/form-data">
                        <div class="profile_main_form_div1">

                            <div>
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Escribí tu nombre">
                            </div>

                            <div>
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="nombre" placeholder="Escribí tu apellido">
                            </div>

                            <div>
                                <label for="usuario">Nombre de usuario</label>
                                <input type="text" name="usuario" id="usuario"
                                    placeholder="Escribí tu nombre de usuario">
                            </div>

                            <div>
                                <label for="email">Correo electrónico</label>
                                <input type="email" name="email" id="email" placeholder="Escribí tu correo electrónico"
                                    disabled>
                            </div>

                        </div>

                        <div class="profile_main_form_div2">
                            <h5>Género</h5>
                            <hr>
                            <div>
                                <input value="f" type="radio" id="femenino" name="genero">
                                <label>Femenino</label>
                            </div>

                            <div>
                                <input value="m" type="radio" id="masculino" name="genero">
                                <label>Masculino</label>
                            </div>

                            <div>
                                <input value="n" type="radio" id="nobinario" name="genero">
                                <label>No binario</label>
                            </div>

                        </div>

                        <div class="profile_main_form_div3">
                            <h5>Generos de música favoritos</h5>
                            <hr>
                            <div>
                                <input value="musica" type="checkbox" id="musica" name="genero">
                                <label for="musica">Rock</label>
                            </div>
                            <div>
                                <input value="musica" type="checkbox" id="musica" name="genero">
                                <label for="musica">Jazz</label>
                            </div>
                            <div>
                                <input value="musica" type="checkbox" id="musica" name="genero">
                                <label for="musica">Musica Clasica</label>
                            </div>
                            <div>
                                <input value="musica" type="checkbox" id="musica" name="genero">
                                <label for="musica">Pop</label>
                            </div>
                        </div>

                        <div class="profile_main_form_div4">
                            <h5>Domicilio</h5>
                            <hr>
                            <div>
                                <label for="provincia">Selecciona tu provincia</label>
                                <select name="provincia" id="provincia">
                                    <option value="" hidden selected>Selecciona tu provincia</option>
                                    <option value="ciudad autónoma de buenos aires">Buenos Aires</option>
                                    <option value="provincia de buenos aires">Corrientes</option>
                                    <option value="provincia de buenos aires">Entre Rios</option>
                                    <option value="provincia de buenos aires">Misiones</option>
                                    <option value="provincia de buenos aires">Santa Fe</option>
                                    <option value="provincia de buenos aires">Tucuman</option>
                                    <option value="provincia de buenos aires">Mendoza</option>
                                    <option value="provincia de buenos aires">Jujuy</option>
                                    <option value="provincia de buenos aires">Catamarca</option>
                                    <option value="provincia de buenos aires">Chaco</option>
                                    <option value="provincia de buenos aires">La Rioja</option>
                                    <option value="provincia de buenos aires">San Luis</option>
                                    <option value="provincia de buenos aires">San Juan</option>
                                    <option value="provincia de buenos aires">Cordoba</option>
                                    <option value="provincia de buenos aires">Neuquen</option>
                                    <option value="provincia de buenos aires">Chubut</option>
                                    <option value="provincia de buenos aires">Tucuman</option>
                                    <option value="provincia de buenos aires">Santa Cruz</option>
                                    <option value="provincia de buenos aires">Tierra del Fuego</option>
                                    <option value="provincia de buenos aires">Rio Negro</option>
                                    <option value="provincia de buenos aires">Salta</option>
                                    <option value="provincia de buenos aires">Santiago del Estero</option>
                                    <option value="provincia de buenos aires"></option>
                                </select>
                            </div>

                            <div>
                                <label for="calle">Calle y altura</label>
                                <input type="text" id="calle" placeholder="ej: Calle falsa 123">
                            </div>

                            <div>
                                <label for="localidad">Localidad</label>
                                <input type="text" id="localidad" placeholder="ej: San miguel">
                            </div>

                            <div>
                                <h5>Acerca de mí</h5>
                                <textarea name="biografia" id="biografia" cols="30" rows="5"></textarea>

                            </div>
                            <div>
                                <label for="avatar">Subir imagen de perfil</label>
                                <input hidden type="file" id="avatar" name="avatar">
                            </div>

                            <div>
                                <a href="">Cancelar</a>
                                <button type="submit">Guardar cambios</button>
                            </div>
                        </div>
                    </form>
                </section>

            </main>
            <!-- copie y pegue el footer y se soluciono -->
            <%- include('../partials/footer') %>
    </body>


</html>