<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 

<body class="register">
    <%- include('../partials/header') %>

    

    <main class="register_main">
        <section class="register_inicio">
          <div class="register_inicio-cuenta"><p> Inicio > Mi cuenta > Registro</p></div>

         <div class="register_inica-s"><h1>Registrate</h1></div>

          <div class="register_txt"><p>Creá tu cuenta y comprá desde tu casa.</p></div>
          
          <form class="register_form" action="/register" method="post">
              <div class="register_div">
                  <label class="register_label" for="Nombre y Apellido">Nombre y Apellido</label>
                  <input class="register_input" type="text" id="Nombre y apellido" placeholder="Ej: Maria Gauna">
              </div>
              <div class="register_div">
                  <label class="register_label" for="Email">Email</label>
                  <input class="register_input" type="email" id="Email" placeholder="Ej: tunombre@email.com ">
              </div>
              <div class="register_div">
                  <label class="register_label" for="Telefono">Teléfono (opcional)</label>
                  <input class="register_input" type="tel" id="Teléfono" placeholder="Ej: 1524647589">
              </div>
              <div class="register_div">
                  <label class="register_label" for="password">Contraseña</label>
                  <input class="register_input" type="password" id="password" placeholder="Escribe tu contraseña">
              </div>
              <div class="register_div">
                  <label class="register_label" for="password">Confirmar Contraseña</label>
                  <input class="register_input" type="password" id="password" placeholder="Confirma tu contraseña" >
                 
              </div>
            
              <div class="register_div">
                  <button type="submit">Crear cuenta</button>
              </div> 
              <div class="register_p_a">
                <p> ¿Ya tenés cuenta? <a href="/users/login">Iniciá sesión</a></p>
              </div>
              
          </form>
  
        </section>

    </main>

    <%- include('../partials/footer') %> 

    
</body>
</html>